<form class="{{styles.container}} {{styles.container_flex}} {{styles.login_container_size}}">
    <div class="{{styles.login_container__title}}">{{title}}</div>
    <div>{{{login}}}</div>
    <div>{{{password}}}</div>
    <div>{{{button}}}</div>
    <div>{{{link}}}</div>
</from>
