<div class="{{styles.labeled_input_container}}">
    <div class="{{styles.labeled_input_container_top}}">
        <div class="{{styles.labeled_input_container__label}}">{{ label }}</div>
        <div class="{{styles.labeled_input_container__input}}">{{{input}}}</div>
    </div>
    <div class="{{styles.labeled_input_container_bottom}}">
        {{{errorinformer}}}
    </div>
</div>
