<div class="{{ styles.chat }} {{#if isSelected }}{{ styles.chat--selected }}{{/if}}">
    <div>{{title}}</div>
    <div class="{{styles.img_container}}">
        <img src="{{avatar}}" id="avatar_id" name="avatar" >
    </div>
    {{#if unread_count }}
        <span class="{{ styles.chat__badge }}">{{unread_count}}</span>
    {{/if}}
</div>
