<div class="{{ styles.chat }}">
    <div class="{{ styles.chat__left_pane }}">
        <img src="{{avatar}}" name="avatar" alt="Аватар">
    </div>
    <div class="{{ styles.chat__right_pane }}">
        <div class="{{ styles.chat__upper_pane }}">
            <div class="{{ styles.chat__title }}">{{title}}</div>
            <div>{{datetime}}</div>
        </div>
        <div class="{{ styles.chat__lower_pane }}">
            <div>{{message}}</div>
            {{#if unread_count }}
                <div class="{{ styles.chat__badge }}">{{unread_count}}</div>
            {{/if}}
        </div>
    </div>
</div>
