<div class="{{ styles.chats-list-container }}">
  <div class="{{ styles.chats-list__header }}">
    {{{buttonAddChat}}}
    {{{buttonRemoveChat}}}
    {{{buttonAddUserToChat}}}
    {{{buttonRemoveUserFromChat}}}
    {{{buttonProfile}}}
  </div>
  <div class="{{ styles.chats-list }}">
  {{#if isLoaded }}
      {{#each chats}}
          {{{this}}}
      {{/each}}
  {{else}}
    Loading...
  {{/if}}
  </div>
  {{{addChat}}}
  {{{addUserToChat}}}
  {{{removeUserFromChat}}}
  {{{attachment}}}
</div>

