<form class="{{styles.container}} {{styles.container_profile_flex}} {{styles.profile_container_size}}">
   <div class="{{styles.profile_container__left}}">
      <a href="#"><img src="{{left}}"></a>
   </div>
   <div class="{{styles.profile_container__right}}">
      <div class="{{styles.profile_container__image}}">
         <center>
            </p><img src="{{avatar}}" alt="Поменять аватар" title="Поменять аватар">
         </center>
      </div>
      {{> labeledinput label=oldpassword.label value=oldpassword.value type=oldpassword.type name=oldpassword.name}}
      <div class="{{styles.profile_container__hr}}"><hr color="blue" /></div>
      {{> labeledinput label=newpassword.label value=newpassword.value type=newpassword.type name=newpassword.name}}
      <div class="{{styles.profile_container__hr}}"><hr color="blue" /></div>
      {{> labeledinput label=repnewpassword.label value=repnewpassword.value type=repnewpassword.type name=repnewpassword.name}}
      <div class="{{styles.profile_container__hr}}"><hr color="blue" /></div>
      <div>
         <center>{{> button type=button.type label=button.label}}</center>
      </div>
   </div>
</form>
