<form class="{{styles.container}} {{styles.container_profile_flex}} {{styles.profile_container_size}}">
    <div class="{{styles.profile_container__left}}">
        <a href="#"><img src="{{left}}"></a>
    </div>
    <div class="{{styles.profile_container__right}}">
        <div class="{{styles.profile_container__image}}">
            <center>
                </p><img src="{{avatar}}" name="avatar" alt="Поменять аватар" title="Поменять аватар">
            </center>
        </div>
        <div class="{{styles.profile_container__title}}">{{title}}</div>
            {{{ first_name }}} 
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{{ second_name }}}
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{{ login }}}
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{{ email }}}
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{{ display_name }}}
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{{ phone }}}
            <div class="{{styles.profile_container__hr}}"><hr></div>
            {{#if isSave }}
                <div><center>{{{buttonSave}}}</center></div>
            {{else}}
                <div>{{{ linkChangeData }}}</div>
                <div>{{{ linkChangePassword }}}</div>
                <div>{{{ buttonExit }}}</div>
            {{/if}}
    </div>
</from>
