<form class="{{styles.container}} {{styles.container_flex}} {{styles.registration_container_size}}">
    <div class="{{styles.registration_container__title}}">{{title}}</div>
    {{{first_name}}}
    {{{second_name}}}
    {{{email}}}
    {{{phone}}}
    {{{login}}}
    {{{password}}}
    {{{button}}}
    {{{link}}}
</form>
