<form class="{{styles.container}} {{styles.container_flex}} {{styles.registration_container_size}}">
    <div class="{{styles.registration_container__title}}">{{title}}</div>
      {{#each inputs}}
         {{{this}}}
      {{/each}}
    {{{button}}}
    {{{link}}}
</form>
