<div class="{{styles.container}} {{styles.chat_window_flex}} {{styles.chat_window_size}}">
    <div class="{{ styles.chat_window__left_pane }}">
        <div class="{{ styles.chat_window__profileLink }}">{{{profileLink}}}</div>
        <div>{{{searchInput}}}</div>
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="{{ styles.chat_window__right_pane }}">
        <div class="{{ styles.chat_window__right_pane_top }}">
            <div class="{{ styles.chat_window__right_pane_top_left }}">
                <span><img src="{{avatar}}" name="avatar" alt="Аватар"></span>
                <span>{{{title}}}</span>
            </div>
            <div class="{{ styles.chat_window__right_pane_top_right }}">
              {{{addRemoveLink}}}
            </div>
        </div>
        <div class="{{ styles.chat_window__right_pane_middle }}">
             <p>Under construction</p>
        </div>
        <div>{{{errorinformer}}}</div>
        <div class="{{ styles.chat_window__right_pane_bottom }}">
            {{{attachLink}}}
            {{{messageInput}}}
            {{{enterLink}}}
        </div>
    </div>
</div>
 