<div class="{{styles.container}} {{styles.chat_window_flex}} {{styles.chat_window_size}}">
    <div class="{{ styles.chat_window__left_pane }}">
        <div class="{{ styles.chat_window__profileLink }}">{{{profileLink}}}</div>
        <div>{{{searchInput}}}</div>
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="{{ styles.chat_window__right_pane }}">
        <div>Under construction</div>
    </div>
</div>
 