<div class="{{styles.container}} {{styles.container_flex}} {{styles.fileupload_container_size}}">
    <div class="{{styles.fileupload_container__caption}} {{styles.fileupload_container__error_text}}">
        <h3>{{caption}}</h3>
    </div>
    {{#if isFileUpload }}
        {{{fileLink}}}
    {{else}}
        <p class="{{styles.fileupload_container__file_name}}">{{fileName}}</p>
    {{/if}}
    {{{button}}}
    <div class="{{styles.fileupload_container__error_text}}">{{errorText}}</div>
</div>
