<form class="{{styles.container}} {{styles.container_profile_flex}} {{styles.password_container_size}}">
   <div class="{{styles.profile_container__left}}">
       {{{ linkLeft }}}
   </div>
   <div class="{{styles.profile_container__right}}">
      <div class="{{styles.profile_container__image}}">
         <center>
            <div><img src="{{avatar}}" id="avatar_id" name="avatar" alt="Аватар"></span><span>{{display_name_label}}</div>
         </center>
      </div>
         {{{oldPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
         {{{newPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
         {{{repnewPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
      <div>
         {{{buttonSave}}}
      </div>
   </div>
</form>
