<form class="{{styles.container}} {{styles.container_profile_flex}} {{styles.password_container_size}}">
   <div class="{{styles.profile_container__left}}">
      <a href="#"><img src="{{left}}"></a>
   </div>
   <div class="{{styles.profile_container__right}}">
      <div class="{{styles.profile_container__image}}">
         <center>
            </p><img src="{{avatar}}" alt="Поменять аватар" title="Поменять аватар">
         </center>
      </div>
         {{{oldPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
         {{{newPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
         {{{repnewPassword}}}
         <div class="{{styles.profile_container__hr}}"><hr></div>
      <div>
         {{{buttonSave}}}
      </div>
   </div>
</form>
